@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

.start {
    background-color: #87BB66;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.b_collaboration,
.b_about_us,
.b_sign_in {
    background-color: #527c7b;
    font-family: "M PLUS 1", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 15px;
    margin-left: auto;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.logo {
    margin-top: -10px;
    width: 300px;
    height: 80px;
}

.title {
    justify-content: center;
    align-items: center;
    display: flex;
}

.web_name {
    font-family: "M PLUS 1", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
}

.web_info {
    font-family: "M PLUS 1", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-left: 00px;
}

.div_web_info {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.web_image {
    background-color: #527c7b;
    margin: auto;
    width: auto;
    height: 700px;
    margin-bottom: 60px;
}

.clothing_img {
    margin-left: 30px;
    margin-top: 50px;
    width: 1838px;
    height: 620px;
    overflow: hidden;
}

.web_line {
    background-color: #527c7b;
    margin: auto;
    width: 1798px;
    height: 7px;
    margin-bottom: 78px;


}

.segment_1{

    display: flex;
}
.title_segment_1{
    font-size: 30px;
    margin-bottom: 66px;
}
.info_segment_1{

    width: 785px;
    font-family: "M PLUS 1", sans-serif;
    font-size: 20px;
    margin-left: 280px;
    text-align: center;
}

.button_segment_2,
.button_segment_1{
    background-color: #527c7b;
    font-family: "M PLUS 1", sans-serif;
    color: white;
    font-size: 15px;

    margin-left: auto;
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-right: 300px;
    margin-top: 80px;

}

.image_segment_1{

    margin-left: 140px;
    margin-bottom: 80px;

}


.segment_2{

    display: flex;
}

.title_segment_2{
    font-size: 30px;
    margin-bottom: 66px;
}
.info_segment_2{

    width: 785px;
    font-family: "M PLUS 1", sans-serif;
    font-size: 20px;
    margin-left: 230px;
    text-align: center;
   
}

.image_segment_2{

    margin-left: 260px;
    margin-bottom: 100px;


}

footer{

    background-color: #87BB66;
    width: auto;
    height: 50px;
}
.contact-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.contact {
    text-align: center;
    background-color: #87BB66;
    color: #ffffff;
    padding: 50px 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
}

.contact-title {
    margin-bottom: 30px;
    font-size: 2em;
    color: #ffffff;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff; /* Rellenado de blanco */
    color: #555555; /* Letras matizadas */
    font-size: 1em;
    transition: border-color 0.3s; /* Transición suave del color del borde */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #333333; /* Borde al enfocar */
}

textarea {
    height: 150px;
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    background-color: #555555;
    color: #ffffff;
}