.contact-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.contact {
    text-align: center;
    background-color: #87BB66;
    color: #ffffff;
    padding: 50px 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
}

.contact-title {
    margin-bottom: 30px;
    font-size: 2em;
    color: #ffffff;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.signin-logo{
    width: 500px;
    height: 500px;
     margin-top: 50px;
}

.signin-box{
    background-color: #296900B2;
    text-align: center;
    border-radius: 23px;
    margin-right: 33%;
    margin-left: 33%;
    margin-bottom: 150px;
}

.signin-buttons{
    background-color: #F1F1F1;
    border-radius: 45px;
    width: 55%;
    height: 60px;
    margin: 20px;
    font-size: 25px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff; /* Rellenado de blanco */
    color: #555555; /* Letras matizadas */
    font-size: 1em;
    transition: border-color 0.3s; /* Transición suave del color del borde */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #333333; /* Borde al enfocar */
}

textarea {
    height: 150px;
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    background-color: #555555;
    color: #ffffff;
}
